MyNotes/         
Private/         
.obsidian/
!_posts/.obsidian/
_posts/.obsidian/*
!_posts/.obsidian/plugins/
_posts/.obsidian/plugins/*
!_posts/.obsidian/plugins/tikzcd-preview/
!_posts/.obsidian/plugins/tikzcd-preview/**
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.DS_Store
.bundle/
vendor/
